:root {
    --primary-colour: #444141;
}

body {
    background-image: url('./img/background.png');
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
}

button {
    font-family: 'Londrina Shadow', cursive;
    font-family: inherit;
}

input {
    font-family: 'Dosis', sans-serif;
    padding: .5em;
}

@media(max-width: 767px) {
    .pc {
        display: none;
    }
}

@media(min-width: 768px) {
    .mobile {
        display: none;
    }
}

.containerIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    /* padding-bottom: 30vh; */
    padding: 1rem 0;
}

/* #region Sidebar */
#sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.599);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    z-index: 2;
    padding: 1rem;

    box-shadow: 0px 9px 32px 2px #b8b0b0cc;

    background-color: #f5e4e4cc;

    display: none;
    /* display: flex; */
    flex-direction: column;
    box-sizing: border-box;
}

#close-drawer-btn {
    /* width: 1rem; */
    float: right;
}

.sidebar__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.sidebar__vendorImg {
    width: 60%;
    margin: 0 auto;
    border-radius: .3rem;
}

.sidebar__vendorName {
    margin: .5em 0;
    color: var(--primary-colour);
}

.sidebar__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar__linksSection {
    /* flex: 1; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.sidebar__link {
    margin-bottom: 1em;

    display: flex;
    align-items: center;
}

.sidebar__linkImg {
    width: 1.5rem;
    margin-right: 1rem;
}

/* #endregion Sidebar */

/* #region Index Page */
/* --------Site Brand --------- */
.siteBrand__Header {
    margin: 0;
}

.siteBrand__subtitle {
    font-size: .9rem;
    margin-top: -.5em;
    margin-bottom: 2em;
    text-align: center;
}

/* --------Site Brand --------- */

/* --------Links---------------- */
.loginLinks {
    /* display: block; */
    text-align: center;
    margin-bottom: .25em;
    background-color: var(--primary-colour);
    color: white;
    padding: .5em;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px #b8b0b0;
}

.loginLinks:hover,
.loginLinks:focus {
    text-decoration: underline;
}

.loginLinks:active {
    background-color: white;
    color: var(--primary-colour);
}

/* --------Links---------------- */
/* #endregion Index Page */

/* #region Register Page */

.registerForm fieldset,
.signinForm fieldset {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

.registerForm legend,
.signinForm legend {
    font-weight: bold;
}

.registerForm label,
.signinForm label {
    margin-bottom: .25em;
    display: block;
}

.registerForm .textInput,
.signinForm .textInput {
    width: 12rem;
    margin-bottom: 1.2em;
    border-width: 1px;
    border-radius: 3px;
}

.registerForm .submit,
.signinForm .submit {
    background-color: #5a5a5a;
    color: white;
    padding: 1em;
    border-radius: 3px;
    border-width: 1px;
    text-align: center;
}

.registerForm .submit:hover,
.signinForm .submit:hover,
.registerForm .submit:focus,
.signinForm .submit:focus {
    background-color: white;
    color: #5a5a5a;
}

/* #endregion Register Page */

/* #region Home Page */
/* ______Nav_______ */
nav {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav.pc {
    background-color: var(--primary-colour);
    color: white;
}

.nav-brand {
    font-size: 1.7rem;
}

.pc-nav__account-icon {
    cursor: pointer;
}

.pc-nav__account-icon>img {
    width: 2rem;
}

.pc-nav__account-options {
    position: absolute;
    right: 11.5vw;
    background-color: var(--primary-colour);
    color: white;
    margin-left: -2.2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #444141c4;

    display: none;
}

@media (min-width: 980px) {
    .pc-nav__account-options {
        right: 12.5vw;
    }
}

@media (min-width: 1300px) {
    .pc-nav__account-options {
        right: 13vw;
    }
}

@media (min-width: 1440px) {
    .pc-nav__account-options {
        right: 13.5vw;
    }
}

@media (min-width: 1680px) {
    .pc-nav__account-options {
        right: 14.5vw;
    }
}



.account-options-link {
    display: block;
}

.account-options-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #44414152;

    display: none;
}

.navBtn {
    background-color: transparent;
    border: none;
}

.navBtn>img {
    width: 1.5rem;
    padding: .2rem;
}

.page-home__products-search {

    border-radius: 3px;
    border-width: 1px;
}

.mobile>.page-home__products-search {
    width: 100%;
    margin: 0 1rem;
    margin-top: 1rem;
}

.pc>.page-home__products-search {
    width: 13rem;
}

.pc-nav__new-product>img {
    width: rem;
}


/* ____body_____ */

.pc>.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 40vw;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImg {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

.productName {
    /* text-align: center; */
}

/* #endregion Home Page */

/* #region Product Page */
.page-product__product-image {
    width: 80vw;
    margin: 1rem 10vw;
}

.page-product__product-name {
    text-align: center;
}

.page-product__product-description {
    text-align: justify;
    width: 80vw;
    margin: auto;
}

.page-product__cta-row {
    display: flex;
    justify-content: space-between;

    width: 80vw;
    margin: 0 auto;
    margin-top: 1rem;
}

/* #endregion Product Page */