body {
    background-image: url('./img/background.png');
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
}

button {
    font-family: 'Londrina Shadow', cursive;
    font-family: inherit;
}

input {
    font-family: 'Dosis', sans-serif;
    padding: .5em;
}

.containerIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    /* padding-bottom: 30vh; */
    padding: 1rem 0;
}

/* #region Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    padding: 1rem;

    box-shadow: 0px 9px 32px 2px #b8b0b0cc;

    background-color: #f5e4e4cc;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* color: white; */
}
.sidebar__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
.sidebar__vendorImg{
    width: 60%;
    margin: 0 auto;
    border-radius: .3rem;
}
.sidebar__vendorName{
    margin: .5em 0;
    color: #444141;
}
.sidebar__main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar__linksSection{
    /* flex: 1; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.sidebar__link{
    margin-bottom: 1em;

    display: flex;
    align-items: center;
}
.sidebar__linkImg{
    width: 1.5rem;
    margin-right: 1rem;
}
/* #endregion Sidebar */


/* #region Index Page */
/* --------Site Brand --------- */
.siteBrand__Header {
    margin: 0;
}

.siteBrand__subtitle {
    font-size: .9rem;
    margin-top: -.5em;
    margin-bottom: 2em;
    text-align: center;
}

/* --------Site Brand --------- */

/* --------Links---------------- */
.loginLinks {
    /* display: block; */
    text-align: center;
    margin-bottom: .25em;
    background-color: #444141;
    color: white;
    padding: .5em;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px #b8b0b0;
}

.loginLinks:hover,
.loginLinks:focus {
    text-decoration: underline;
}

.loginLinks:active {
    background-color: white;
    color: #444141;
}

/* --------Links---------------- */
/* #endregion Index Page */

/* #region Register Page */

.registerForm fieldset,
.signinForm fieldset {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

.registerForm legend,
.signinForm legend {
    font-weight: bold;
}

.registerForm label,
.signinForm label {
    margin-bottom: .25em;
    display: block;
}

.registerForm .textInput,
.signinForm .textInput {
    width: 12rem;
    margin-bottom: 1.2em;
    border-width: 1px;
    border-radius: 3px;
}

.registerForm .submit,
.signinForm .submit {
    background-color: #5a5a5a;
    color: white;
    padding: 1em;
    border-radius: 3px;
    border-width: 1px;
    text-align: center;
}

.registerForm .submit:hover,
.signinForm .submit:hover,
.registerForm .submit:focus,
.signinForm .submit:focus {
    background-color: white;
    color: #5a5a5a;
}

/* #endregion Register Page */

/* #region Home Page */

/* #endregion Home Page */